body {
  font-size: 40px;
}

li {
  margin-left: 0;
}

ul,
ol {
  padding: 0;
}

.tag {
  border: solid 4px;
  margin: 5px;
}

.tag label {
  color: white;
  font-size: 25px;
  padding: 0px 5px 3px 3px;
  margin-right: 10px;
  vertical-align: top;
}
